
  <!-- <h1 style="color: green;margin-left: 40%;">{{strore.name}}</h1> -->
  <!-- <img [src]="strore.logo"> -->
  <!-- <select [(ngModel)]="selectedCatID" (change)="selected()">
    <option *ngFor="let item of categroy" [ngValue]="item.id">{{ item.name }} </option>
  </select>
  <input [(ngModel)]="ClientName" > -->
  
  <!-- <table class="table" [hidden]="!IsPurshased">
    
    <ng-container *ngFor="let item of prdListOfCat" >
      <tr *ngIf=" item.quantity!=0" [ngStyle]="{'background-color':item.quantity==1? 'yellow':'lightgray', 'color':item.quantity>1? 'red':'darkblue'}">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price |currency:'EGP' }}</td>
      <td><img [src]="CreateImgPath(item.img)" width="40%" height="20%" /></td>
      <td>{{ item.catID }}</td>
      <td>{{ item.date |  date:'medium' }}</td>
      <td><a  class="btn btn-primary"  role="button" [routerLink]="['/Products', item.id]">Details</a></td>
      <td><a  class="btn btn-primary"  role="button" [routerLink]="['/NewProduct', item.id]">Edit</a></td>
      <td><a  class="btn btn-primary"  role="button" (click)="DeletePro(item.id)">Delete</a></td>
      <td><button (click)="decrease(item.id)">Decrease Quantity</button></td>
      <td><input #itemsCount type="number" [max]="item.quantity" min="1" class="form-control" style="background-color: white;"></td>
      <td><button  class="btn btn-warning" (click)="AddToCartBtn(+itemsCount.value,item)">Add To Cart</button></td>
      </tr>
    </ng-container>
  </table>
  <div [hidden]="IsPurshased">
    <h1>Thanks for purchasing from our Store {{ClientName}}</h1>
  </div>
  <div>
    <button type="button" [routerLink]="['/NewProduct',0]"  style="width: 50%;margin-left: 20%;margin-bottom: 5%;"  class="btn btn-info">Add New Product</button>

  </div> -->
  <!-- <div>
    <button (click)="hide()">BUY</button>

  </div> -->

  <!-- <div *ngFor="let item of prdListOfCat" style="display: inline-block;" class="mx-3 mb-3">
  <div class="card" style="width: 18rem;" ProductCard defaultColor="yellow"   > 
    <img [src]="CreateImgPath(item.img)" class="card-img-top" alt="card">
    <div class="card-body" >
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text" style="color: blue;">Price : {{item.price}}</p>
      <p class="card-text" style="color: blue;">Quantity : {{item.quantity}}</p>
      <div>
        <input #itemsCount type="number" [max]="item.quantity" min="1" class="form-control" style="background-color: white;">
      </div>
      <button  class="btn btn-warning mb-1 mt-2" style="width: 100%;" (click)="AddToCartBtn(+itemsCount.value,item)">Add To Cart</button>
      <a href="#" class="btn btn-warning mb-1 mt-1" style="width: 100%;" role="button" [routerLink]="['/Products', item.id]">Details</a>
    </div>
  </div>
  </div>
  <td><button [routerLink]="['/NewProduct',0]">Add New Product</button></td> -->
  
  <!-- <div style="text-align: center;font-size: 50px;">{{birthDate | nationalID:"full"}}</div>
  <div style="text-align: center;font-size: 50px;">{{creditCart | credit}}</div> -->


  <!----------------------------------Template----------------------------------------->
  
  <div class="container-fluid mt-4" id="NewCategory">
      <ng-container *ngFor="let item of prdListOfCat">
        <div class="card mt-4" style="width:calc(95%/3);display:inline-block;margin:6px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <a type="button"(click)="openDialog(item.img)">  <img class="card-img-top"  [src]="CreateImgPath(item.img)" alt="Card image" style="width:100%;height:50%">  </a>
          <div class="card-body">
              <h4 class="card-title" style="text-align:center;color:red;font-weight:bold">{{item.name}}</h4>
              <p class="card-text"> Price:  {{item.price}}</p>
              <p class="card-text"> Quantity:  {{item.quantity}}</p>
              <div class="mb-1">
                <input #itemsCount type="number" [max]="item.quantity" min="1" class="form-control" style="background-color: white;">
              </div>
              <div class="mb-1">
                <a  class="btn btn-outline-secondary" style="width: 100%;" (click)="AddToCartBtn(+itemsCount.value,item)">
                  <i class="bi bi-bag-check"></i> Add To Cart </a>    
              </div>
              <div>
                <a  class="btn btn-outline-secondary" style="width: 100%;" [routerLink]="['/Pro/Products', item.id]">
                  <i class="bi bi-bag-check"></i> Details </a>    
              </div>             
          </div>
      </div>
      </ng-container>
         
    
      
    
</div>
  


  

  

